@media print {
    @page  {
        size: A4;
        margin-left: 0cm;
        margin-top: 0px !important;
    }

    body {
        background: none;
        font-size: 16px !important;
        margin-left: 0cm !important;
        padding: 0;
    }

    h1 {
        font-size: 22px;
    }

    div#date {
        padding-top: 10em;
    }

    input#date {
        padding-top: 10em;
    }

    input#subject {
        padding-top: 16em;
    }

    .nav, button, .demo-box:before,
    #pdf-path, header p,  #checkbox-1, #foldingMarks,
    ui-dialog ui-corner-all ui-widget ui-widget-content ui-front ui-draggable ui-resizable{
        display: none;
    }

    header {
        padding: 0 0 10px 0;
    }

    .heading {
        display: none;
    }

    div#content {
        border: none;
        margin-left: 2.5cm;
    }

    #sender {
        border-bottom: 1px solid;
        border-radius: 0px;
        width: 8cm;
    }

    div#address {
        padding-top: 2cm;
    }

    .ui-datepicker-inline .ui-datepicker .ui-widget .ui-widget-content .ui-helper-clearfix .ui-corner-all {
        display: none;
    }

    .falzmarken {
        left: 0px !important;
    }

    div#hr1 {
        top: 77mm;
        border-bottom: 0px;
        border-top: 0.5px;
        height: 0px;
        border-style: dotted;
    }

    div#hr2 {
        top: 138.5mm;
        height: 0px;
        border-bottom: 0px;
        border-top: 0.5px;
        border-style: solid;
    }

    div#hr3 {
        top: 182mm;
        height: 0px;
        border-bottom: 0px;
        border-top: 0.5px;
        border-style: dotted;
    }
}