@media print {
    body {
        background: none;
        font-size: 16px !important;
        margin-left: 1.3cm !important;
        padding: 0;
    }

    h1 {
        font-size: 22px;
    }

    #date {
        padding-top: 8em !important;
    }

    #subject {
        padding-top: 12em !important;
    }

    .nav, button, .demo-box:before,
    #pdf-path, header p,  #checkbox-1, #foldingMarks{
        display: none;
    }

    .demo-box, h2,
    pre, code {
        padding: 0 !important;
        margin: 0 !important;
    }

    header {
        padding: 0 0 10px 0;
    }

    code, .support {
        font-size: 10px;
    }

    .heading {
        display: none;
    }

    #content {
        border: none !important;
    }

    #sender {
        border-bottom: 1px solid;
        border-radius: 0px;
        width: 8cm;
    }

    #address {
        padding-top: 3.5cm !important;
    }

    .ui-datepicker-inline .ui-datepicker .ui-widget .ui-widget-content .ui-helper-clearfix .ui-corner-all {
        display: none;
    }
}