h1 {
    font-family: TimeBurner;
    width: 99%;
    text-align: center;
}

h2 {
    font-family: TimeBurner;
}
p {
    margin-bottom: 3px;
}

#messageField {
    color: red;
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
}
