body {
    font-size: 18px;
}
textarea {
    overflow: hidden;
}

fieldset {
    border: none;
    height: 1.2em;
    padding-bottom: 0px;
    border-left: 0px;
    padding-left: 0px;
    margin-left: 0px;
    margin-bottom: 1em;
}
select {
    -webkit-appearance: none;
    border: none;
    background-color: inherit;
    font-size: 0.55em;
    border-bottom: 0.75px solid;
    border-radius: 0px;
    width: 8cm;
    text-align-last: center;
}

.ui-selected {
    background-color: #0000a1;
    color: white;
}

#content {
    border: 1px solid;
    padding: 3px;
}
#date {
    position: absolute;
    right: 20px;
    padding-top: 2em;
}
#subject {
    font-weight: bold;
    padding-top: 5em;
    font-size: inherit;
    font-family: inherit;
    border: none;
    width: 99%;

}
#address {
    padding-top: 1em;
}
#print-pdf {
    margin-top: 2em;
}
#text {
    padding-top: 2em;
    border: none;
    width: 98%;
    font-size: inherit;
    -webkit-appearance: none;
    font-family: inherit;
    resize: none;
}
#greeting {
    padding-top: 2em;
    font-size: inherit;
    font-family: inherit;
    border: none;
    resize: none;
    width: 98%;
}
#datepicker {
    border: none;
    font-size: inherit;
    font-style: normal;
    font-family: inherit;
    width: 80px;
}
.falzmarken {
    position: absolute;
    left: 10px;
    height: 0px;
    border: 1px;
    border-bottom: 0px;
    color: black;
    background-color: black;

}

#hr1 {
    width: 30px;
    top: 33%;
    display: none;
    border-style: dotted;
}

#hr2 {
    width: 40px;
    top: 50%;
    display: none;
}

#hr3 {
    width: 30px;
    top: 66%;
    display: none;
    border-style: dotted;
}

#createSender {
    border: none;
}

#place {
    display: inline;
}