body {
    font-size: 18px;
}
h1 {
    font-family: TimeBurner;
    width: 99%;
    text-align: center;
}
textarea {
    overflow: hidden;
}

fieldset {
    border: none;
    height: 1.2em;
    padding-bottom: 0px;
    border-left: 0px;
    padding-left: 0px;
    margin-left: 0px;
    margin-bottom: 1em;
}
select {
    -webkit-appearance: none;
    border: none;
    background-color: inherit;
    font-size: 0.55em;
    border-bottom: 0.75px solid;
    border-radius: 0px;
    width: 8cm;
    text-align-last: center;
}

.ui-selected {
    background-color: #0000a1;
    color: white;
}

#content {
    border: 1px solid;
    padding: 3px;
    margin-bottom: 10px;
}
#date {
    position: absolute;
    right: 20px;
    padding-top: 2em;
}
#subject {
    font-weight: bold;
    padding-top: 5em;
    font-size: inherit;
    font-family: inherit;
    border: none;
    width: 99%;

}
#address {
    padding-top: 1em;
}
#text {
    padding-top: 2em;
    border: none;
    width: 98%;
    font-size: inherit;
    -webkit-appearance: none;
    font-family: inherit;
    resize: none;
}
#greeting {
    padding-top: 2em;
    font-size: inherit;
    font-family: inherit;
    border: none;
    resize: none;
    width: 98%;
}
#datepicker {
    border: none;
    font-size: inherit;
    font-style: normal;
    font-family: inherit;
    width: 80px;
}
.falzmarken {
    position: absolute;
    left: 10px;
    height: 0px;
    border: 1px;
    border-bottom: 0px;
    color: black;
    background-color: black;

}

#hr1 {
    width: 30px;
    top: 33%;
    display: none;
    border-style: dotted;
}

#hr2 {
    width: 40px;
    top: 50%;
    display: none;
}

#hr3 {
    width: 30px;
    top: 66%;
    display: none;
    border-style: dotted;
}

#createSender {
    border: none;
}

#place {
    display: inline;
}

#footer {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 99%
}
#messageBox {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    pointer-events: none;
}

.message {
    position: relative;
    bottom: 0px;
    border-radius: 2px;
    border: 1px solid;
    margin-right: 3px;
    margin-bottom: 3px;
    background-color: white;
    padding: 3px;
    box-shadow: 10px 10px 5px grey;
}


.icon {
    padding-top: 24px;
    padding-left: 22px;
    position: relative;
    top: 18px;
    left: -10px;
    background-repeat: no-repeat;
}

.ui-icon-print-pdf{
    background-image: url("../img/file-pdf.png");
}

.ui-icon-printer {
    background-image: url("../img/printer.png");
}

.ui-icon-history {
    background-image: url("../img/history.png");
}

.ui-icon-word {
    background-image: url("../img/file-word.png");
}

.ui-icon-save {
    background-image: url("../img/download.png");
}

.ui-icon-load {
    background-image: url("../img/upload.png");
}

.ui-icon-reset {
    background-image: url("../img/delete-empty.png");
}

#historyContent {
    font-size: 12px;
}

.historyEntry {
    float: left;
    margin-top: 10px;
    padding: 5px;
    border-radius: 2px;
    width: 97%;
}

.historyEntry:first-child {
    margin-top: 50px;
}

#slider {
    font-size: 20px;
    margin: 15px;
}

#historyReceiver {
    font-size: 0.75em;
}

.ui-selected #delete {
    display: inline;
    background-image: url("../img/delete-white.png");
    top: initial;
    left: 50px;
    margin-top: 10px;
}

#delete, export, print, print-pdf {
    display:none
}

.ui-selected #export {
    display: inline;
    background-image: url("../img/file-word-white.png");
    top: initial;
    left: 40px;
    margin-top: 10px;
}

.ui-selected #print {
    display: block;
    background-image: url("../img/printer-white.png");
    top: initial;
    left: 0px;
    margin-top: 10px;
}

.ui-selected #print-pdf {
    display: inline;
    background-image: url("../img/file-pdf-white.png");
    top: initial;
    left: 30px;
    margin-top: 10px;
}

#sliderContainer {
    position: fixed;
    background-color: white;
    width: 75%;
    z-index: 2;
}

#sliderLabel {
    font-size: 1.5em;
    font-weight: bold;
}

.shadow {
    box-shadow: 0px 15px 10px -8px rgba(0, 0, 0, 0.27);
}
